@import '~bootstrap/dist/css/bootstrap.css';

body {
  background: #feffff;
  background: -moz-linear-gradient(left, #feffff 0%, #a7cfd1 100%);
  background: -webkit-linear-gradient(left, #feffff 0%,#a7cfd1 100%);
  background: linear-gradient(to right, #feffff 0%,#a7cfd1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a7cfd1',GradientType=1 );
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 20px;
}